@import "./componentes/variables";
@import "./mixin";
.primera-seccion,
.segunda-seccion {
    width: 80%;
    border: solid 1px;
    display: flex;
    justify-content: space-evenly;
}
.izquierda,
.derecha {
    width: 40%;
    @include flex-column;
    justify-content: space-evenly;
}
.title {
    padding: 15px;
    text-decoration: underline;
}
.nosotros {
    color: white;
    background-color: rgb(10, 10, 10);
    align-content: center;
    margin: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .foto-local {
        display: flex;
        height: 500px;
       
    }
    .nosotros-img {
        justify-content: center;
        height: 400px;
        display: flex;
    }
}
@media screen and (max-width: 480px) {
    .primera-seccion {
        flex-direction: column;
    }
    .segunda-seccion {
        flex-direction: column-reverse;
    }
    .izquierda,
    .derecha {
        width: 100%;
    }
    .nosotros-img,
    .fotolocal {
        overflow: hidden;
        img{
            object-fit: cover;
            height: 300px;
            width: -webkit-fill-available;
        }
    }
    .fotolocal img {
        object-fit: cover;
        height: 300px;
        width: -webkit-fill-available;
    }

}
