@import "./componentes/variables";
.image-container {
    margin: 50px;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-evenly;
}
.card {
    box-shadow: $sombras;
}

.producto {
    width: 400px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 30px;
    box-shadow: $sombras;
    background-color: #fdf8f8;
    border-radius:$borde;
    .information {
        box-sizing: border-box;
        max-width: 100%;
    }
    .button-container {
        display: block;
        margin: 0 auto;
    }
}
.image-container img a:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.image-container img {
    max-width: 100%;
}
.solicitud {
    background-color: $color;
    --bs-btn-color: #fff;
    --bs-btn-bg: $color;
    --bs-btn-border-color: d$color;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color: $color;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: $color;
    --bs-btn-active-border-color: $color;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: $color;
    --bs-btn-disabled-border-color: $color;
}
@media screen and (max-width: 480px){
    .producto {
        width: 100%;
        margin: 0;
    }
}