@import "./componentes/variables";
.intro{
    font-size: 2rem;
    display: flex;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: antiquewhite;
    margin-top: 15px;
    .tex{
        margin: 15px;
    }
}
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  
}
.titulos {
   padding:20px;
    color: white;
    grid-column: span 3;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    background-color: black;
    opacity: 0.7;
}

.estilos {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    img {
        box-shadow:$sombras;
        display: block;
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
        margin: 20px;
        border-radius: $borde;
        height: 400px;
        width: 600px;
        object-fit: cover;
    }
}

@media screen and (max-width: 480px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }

    .titulos {
        grid-column: span 1;
    }

    .estilos {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
         img {
            margin: 10px;
            object-fit: cover;
            height: 300px;
            width: -webkit-fill-available;
        }
    
    }

    
}
